.fleet{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}
.fleet_image{
    height: 450px;
    width: 350px;
    object-fit: cover;
}
.flee_brand{
    text-align: center;
}
.flee_model{
    text-align: center;
}