
*{
    margin: 0;
    padding: 0;
}



.Home{
    /* position: relative; */

    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    align-content: center;
    margin: 0;
    padding: 0;
    background-image: url('../../assets/fotos/fondo_coche.jpeg');
    background-size: cover;
     width: 100%;
     /* height: 100vh; */
    height: auto;
    object-fit: cover;
      
      
    
    
}

.foto_portada{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('ruta-a-la-imagen.jpg');
    background-size: cover;
    background-position: center;
    /* position: relative; */
    width: 100%;
    height: 100%;
    z-index: -100;
    /* // margin-top: -50px; */
}

.cartas_home{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    position: relative;
    background-color: white;
    border-radius: 9px;
    top: 100%;
    right: 1110%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    height: 30%;
    object-fit: cover;
    
}

.p_cartas_home{
    background-color: black;
    
    color: aqua;

}

.foto{
    border-radius: 9px;
    width: 40%;
    height: 40%;
}