@import 'bootstrap/dist/css/bootstrap.min.css';

* {
    text-decoration: none;
    list-style: none;
    font-style: none;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
